.navigation {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  padding-left: 50px;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff9900;
}
